[submodule "TA_Deka_ESP"]
	path = TA_Deka_ESP
	url = https://github.com/samikro-id/TA_Deka_ESP.git
	branch = master
[submodule "TA_Deka_UNO"]
	path = TA_Deka_UNO
	url = https://github.com/samikro-id/TA_Deka_UNO.git
	branch = master
[submodule "TA_Deka_App"]
	path = TA_Deka_App
	url = https://github.com/samikro-id/TA_Deka_App.git
	branch = master
